﻿@{
    ViewBag.Title = "A Propos de CarPooling";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ici la page d'information a propos de CarPooling</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rhoncus eros mauris, ac condimentum ipsum molestie eget. Integer sit amet venenatis justo. Morbi scelerisque dui ac est hendrerit, lobortis rhoncus metus aliquam. Pellentesque eu varius ex. Integer lorem est, varius a massa in, dictum gravida diam. Etiam sed ante id justo cursus interdum. Praesent quis libero magna. Integer quis sapien at sapien efficitur iaculis vitae in nibh.
</p>
<p>
    Sed et augue tempor, condimentum risus a, bibendum libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius congue convallis. In faucibus arcu in elementum consectetur. Morbi a mauris venenatis, rhoncus risus in, dapibus lorem. Sed ligula felis, sagittis nec commodo at, fermentum a magna. Mauris urna diam, congue sed velit et, euismod imperdiet eros. Curabitur ullamcorper sodales ligula, vitae elementum nulla placerat quis.
</p>
<p>
    Nulla facilisi. Quisque imperdiet purus ut euismod facilisis. Phasellus ac ultrices libero. Nullam aliquam, velit auctor blandit vehicula, elit enim sodales massa, et ullamcorper arcu augue non purus. Vestibulum porta porttitor viverra. Quisque dapibus nec neque id hendrerit. Aenean aliquet purus lorem, eget pharetra diam dictum sit amet. Sed vulputate odio semper, sodales leo at, porta augue. Ut molestie, urna a ullamcorper ornare, eros sapien lacinia ante, ut pulvinar sapien massa sed lectus.
</p>
<p>
    Nam nisl turpis, finibus et elit quis, bibendum euismod metus. Praesent iaculis aliquet justo vel lobortis. Donec tortor tortor, volutpat eget finibus sit amet, consectetur sit amet leo. Duis facilisis neque ac dui tristique, at ultricies metus maximus. Curabitur laoreet orci felis, in dictum risus congue ac. Sed et volutpat tortor. Fusce est sapien, viverra nec ante eget, convallis tempus ligula. Cras dui nunc, fringilla pharetra congue vitae, vulputate eu dolor. Praesent sed egestas magna.

</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis elit eleifend nisl ultrices, a sagittis quam ullamcorper. Donec facilisis efficitur quam vel rhoncus. Morbi lacinia fermentum lacus eu pharetra. Integer mattis efficitur lorem. Praesent semper semper tempor. Sed arcu dolor, venenatis eget tempus sed, venenatis at mauris. Nam porttitor porta gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac dictum est. Pellentesque eleifend fringilla consequat. Sed at enim sagittis, fermentum lacus vitae, porta odio. Ut ultrices a dui vitae fermentum. Curabitur ut tellus lacus.

</p>
