﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HEIG-VD<br />
    Yverdon-les-Bains<br />
    Formation FEE<br />
    Projet de semestre<br />
    <abbr title="Phone">P:</abbr>
    +41 24 557 76 00 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>