﻿@model CarPoolingWebApp.Models.ViewModelTrajet
@using CarPooling;


@{
    ViewBag.Title = "CarPooling";
}

<div>

    <h1>
        Bienvenue sur CarPooling
    </h1>
    <h2>
        Cette platforme vous permettera d'acceder aux ressources de co-voiturage dans votre région
    </h2>

    <h3>
        Tu n'es pas encore inscrit ? Qu'attends-tu, c'est pas ici que cela ce passe : s'inscrire
    </h3>

    <h3>
        liste des trajets actuels :
    </h3>
    
    <div class="table-responsive">
        <section>
            <p>
                <table class="table table-striped">
                    <tr>
                        <td>
                            Ville de départ
                        </td>
                        <td>
                            Ville d'arrivée
                        </td>
                        <td>
                            Heure de départ
                        </td>
                        <td>
                            Nombre de participant
                        </td>
                    </tr>


                    @{
                        foreach (Trajet item in Model.ListeTrajet)
                        {
                            <tr>
                                <td>
                                    @item.VilleDeDepart
                                </td>
                                <td>
                                    @item.VilleArrivee
                                </td>
                                <td>
                                    @item.HeureDepart
                                </td>
                                <td>
                                    @item.NbParticipant
                                </td>
                            </tr>
                        }
                    }

                </table>
            </p>
        </section>
    </div>
</div>