﻿
@{
    ViewBag.Title = "ModifyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ModifyProfile</h2>


@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="InputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control" id="InputFirstName" placeholder="FirstName">
    </div>
    <div class="form-group">
        <label for="Adress">Adress</label>
        <input type="text" class="form-control" id="InputAdress" placeholder="Adress">
    </div>
   
    <button type="submit" class="btn btn-default">Modify</button>
</form>
