﻿
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Toto</h2>


<form class="form-horizontal">

    <table class="table table-bordered">

        <tr>
            <td>
                Name :
            </td>
            <td>
                Name de toto
            </td>
        </tr>
        <tr>
            <td>
                First Name :
            </td>
            <td>
                First Name de toto
            </td>
        </tr>
        <tr>
            <td>
                Date of Birth :
            </td>
            <td>
                19.09.1986
            </td>
        </tr>

    </table>

</form>